body{
	direction: ltr;
	margin: 0;
	padding: 0;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

#top{
	background-color: #fffde7;
	height: 70px;
	width: 100%;
	margin: -18px 0;
}

.call {
	float: left;
	width: 70%;
	padding: 4px 25px;
}

.call p{
	display: inline-block;
	margin: 20px 10px;
	font-weight: lighter;
	font-size: 15px;
}

.search{
	float: right;
	width: 20%;
	margin: 24px ;
}

.search form input{
	border-radius: 30px;
	background-color:#fff59d ;
	border: none;
}

nav{
	background-color:black;
	height: 100px;
	
	padding: 15px 5px 0;

}


#menu ul li{
	float: right;
	margin:12px 0.5% 0px ;
	padding: 0 10px 0 1px;
	list-style: none;
	display: inline;
}

#menu ul li a {
	
	text-decoration: none;
	color: #ffad42;
	font-weight: bold;
	font-size: 15px;
	border-right: 1px solid #EECD79;
	padding:5px 20px;
}

#menu ul li a:hover{
	
	color: #ffd54f;

}

#logo{
	
	float: left;
	margin: -95px 0.5% ;
}

header hr{
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-top: 4px solid #ff6f00;
	margin-top: -2px;
	width: 100%;
	clear: both;
}

#section{
	background: linear-gradient(#ffb74d,#ffcc80,#ffe082,#fff59d);
	widows: 1950px;
	height: 380px;
	clear: both;
	margin: -8px 0 0;
	
}

.text{
	text-align: center;
	margin: 25px 200px ;
	padding: 20px 0 ;
	font-size: 25px;
	font-style: italic;
	border-bottom: 0.5px solid #FFFB99;
}



.imt {
		float: left;
		margin: 1%;
		width: 23%;
		background-color: lemonchiffon;
		
		
}
.imt:hover{
	background-color: #fdd835;
}
.imt img {
	
	width: 100%;
	height: 180px;
}
.imt p{
	
	text-align: justify;
	padding: 0px 10px;
	
}
.imt h4{
	color: #fbc02d;
	padding: 0px 10px;
	
}
.imt h4:hover{
	color: #dd2c00;
}

.pro{
	float: right;
	margin:60px 1%;
	
}


#article {
	
margin: -10px;
	
}

.a{
	display: inline-block;
	width: 23%;
	height: 20px;
	float: left;
	margin: 50px 2%;
	padding: 50x 20px;
}

.a img{
	
	float: left;
	padding: 20px;
}
.a p{
	text-align: justify;
	padding: 5px 5.3em;

}
.a h{
	padding: 2px;
}

.b img{
	
	float: left;
	padding: 20px;
	
}
.b p{
	text-align: justify;
	padding: 5px 5.3em;

}
.b h{
	padding: 2px;
	
}
.b{
	float: left;
	width: 23%;
	height: 20px;
	margin: 120px 2%;
}


